/* space-mono-regular - latin */
@font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/space-mono-v11-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/space-mono-v11-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* space-mono-700 - latin */
  @font-face {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/space-mono-v11-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/space-mono-v11-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lexend-deca-regular - latin */
@font-face {
     font-family: 'Lexend Deca';
     font-style: normal;
     font-weight: 400;
     src: url('../fonts/lexend-deca-v17-latin-regular.eot'); /* IE9 Compat Modes */
     src: local(''),
          url('../fonts/lexend-deca-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
          url('../fonts/lexend-deca-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
          url('../fonts/lexend-deca-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
          url('../fonts/lexend-deca-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
          url('../fonts/lexend-deca-v17-latin-regular.svg#LexendDeca') format('svg'); /* Legacy iOS */
   }