*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Space Mono", "Space Mono", monospace;
  font-size: 16px;
  line-height: 1.6; 
  color: #333D4B;
  overflow-x: hidden;

}
p{
  font-family:"Lexend Deca";
}
ul{
  list-style: none;
}
.none{
  display: none;
}
.site-header--opened{
  display: none;
}
img {
  display: block;
  max-width: 100%;
  
}
a{
  display: inline-block;
  text-decoration: none;
}
.hover{
  cursor: pointer;
  transition: all 0.4s;
  max-width: 180px;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}