@mixin reset-list {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  @mixin box {
    background-color: #2C343E;
    border-radius: $big-radius;
    padding: 100px 85px;
    color: #fff;
  }
  @mixin button {
       width: 180px;
        height: 53px;
        background-color: $color-btn;
        border: none;
        font-family: 'Space Mono';
        font-weight: 700;
        font-size: 15px;
        line-height: 25px;
        color: #fff;
  }