.download{
    width: 100%;
    background:url("../../img/footer-bg.png"), #495567 ;
    background-repeat: no-repeat;
    background-position: right bottom;
    height: 300px;
    padding: 0 50px;
    @media only screen and (max-width:$mobile) {
       height: 375px;
     }
    .download__container{
        max-width: 1280px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media only screen and (max-width:$tablet) {
            flex-direction: column;
            text-align: center;
        }

        .download__sing-up{
            padding-top:120px;
            @media only screen and (max-width:$tablet) {
                padding-top: 0;
            }
            .sing-up__title{
                max-width: 415px;
                font-weight: 700;
                font-size: 48px;
                line-height: 48px;
                letter-spacing: -2.14286px;
                color: #fff;
                margin-top: -20px;
                @media only screen and (max-width:$tablet) {
                    font-size: 32px;
                    line-height: 32px;
                    letter-spacing: -1.42857px;
                    margin-top: 102px;

                }
            }
        }
        .download__wrapper{
            margin-top: 50px;
            display: flex;  
            gap: 18px;
            @media only screen and (max-width:$tablet) {
                margin-top: 0;
                margin-bottom: 50px;
            }
        }
    }
}