.main-link {
    min-width: 217px;
    text-align: center;
    display: inline-block;
    background-color: $accent-color;
    padding: 15px 31px;
    border-radius: $sm-radius;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
  }