.service{
    max-width: 573px;
    @media only screen and (max-width:$tablet) {
        display: flex;
        gap: 79px;
        align-items:flex-start;
        margin: 0 auto;
       
        
    }
    @media only screen and (max-width:$mobile) {
            gap: 24px;
    }
    @media only screen and (max-width:$mobile) {
        
            flex-direction: column;
            justify-content: center;
            text-align: center;
        
    }
    .service__img{
        @media only screen and (max-width:$mobile) {
            margin: 0 auto;
            
        }
    
    .service__title{
        margin-top:40px ;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        color: $title-color;
        @media only screen and (max-width:1280px) {
            
            margin-top: 0;
        }
    }
   }
    .service__info{
        font-weight: 400;
        font-size: 15px;
        line-height: 25px;
        margin-top: 27px;
        @media only screen and (max-width:1280px) {
            width: 390px;
            margin-top: 0;
            font-size: 15px;

        }
        @media only screen and (max-width:$mobile) {
            max-width: 311px;
        }
    }
   
}